<div class="cities">
  <div class="wrapper">
    <p
      class="selected pill"
      data-behaviour="close-cities"
    >
      <span data-ui="city">Barcelona</span>
    </p>
    <p class="pill-divider">or</p>
    <ul class="list">
      {{#each cities}}
      <li class="list-item" data-city="{{this}}">
        <button type="button" class="pill">{{this}}</button>
      </li>
      {{/each}}
    </ul>
    <p class="footnote">...and all the places in between!</p>
  </div>
</div>