<div class="information">
  <ul class="polaroids">
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">{{city}}</span>
    </li>
  </ul>
  <h1>
    <span class="sr-only">Can I move to ?</span>
  </h1>
  <div class="copy">
    <h2 class="header-text">
      <span class="very-large-text">Yes</span>
      You can still move<br />to
        <span data-ui="city">{{city}}</span>
    </h2>
    <div class="actions">
      <button
        class="outer-btn"
        data-behaviour="go-to-choose-city"
        type="button"
      >
        <span class="inner-btn">Choose another city</span>
      </button>
    </div>
    <div class="body-text">
      <p class="restricted-width">Right now, as a UK and EU citizen, no matter your age, income or working status, you can go and live in any European city you choose. You can be a local in Lanzarote or a neighbour in Nice. All of Europe is your home.</p>
      <h3>If Brexit goes ahead, all this will change.</h3>
      <p>Whether it happens with a deal or we crash out with no deal, Brexit means the end of freedom of movement. We’ll lose our right to live, work and retire in any EU country.</p>
      <p>Just as the government wants to stop our European neighbours from making the UK their home, our opportunity to move abroad will be taken away. If Brexit happens, there would be new rules for moving to the EU, like needing to earn a minimum salary. The UK has said this would be £30,000/year for EU citizens coming here, and it‘s likely it would be similar for us going abroad. That’s a privilege for a few people, not a right for everyone.</p>
      <h3 class="restricted-width">Don't let them take it away</h3>
      <p class="restricted-width">Let’s fight Brexit to keep our European citizenship and the amazing freedom and multiculturalism it brings!</p>
      <p class="with-arrow">Message your MP directly with our super simple site, Hey MP: </p>
      <div class="cta-block">
        <a
          href="https://hey-mp.uk?utm_source=canimovetobarcelona"
          target="_blank"
        >
          <img
            class="img-block hey-mp"
            srcset="/img/heymp-box.png 308w, /img/heymp-box@2x.png 614w"
            sizes="(max-width: 320px) 308px, 100vw"
            src="/img/heymp-box.png"
            width="308" height="262"
            alt="Hey MP Button"
            title="Search for your MP and send them a message"
          />
        </a>
      </div>
    </div>
    {{> social}}
  </div>
  {{> who}}
</div>
