<div class="information">
  <ul class="polaroids">
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
  </ul>
  <h1>
    <span class="sr-only">Can I move to <span data-ui="city">Barcelona</span>?</span> Yes.
  </h1>
  <h3>You can still move to <span data-ui="city">Barcelona</span>.</h3>
  <p>As a UK and EU citizen, no matter your age, income or working status, you can go and live in any European city you choose. You can be a local in Lanzarote or a neighbour in Nice. All of Europe is your home.</p>
  <h3>If Brexit goes ahead, all this will change.</h3>
  <p>By ending Freedom of Movement, your right to go and live anywhere ends. After Brexit you, your children, parents and grandparents will be treated the same as EU citizens coming here. You will need to earn a minimum - likely £30,000/year. That's a privilege for a few people, not a right for everyone.</p>
  <h3>Don't let them take it away</h3>
  <p>If you want to be able to keep your European citizenship and the amazing freedom it brings, help us to stop Brexit.</p>
  <button
    class="btn i-want-to-help"
    data-behaviour="go-to-sign-up"
    type="button"
  >
    I want to help
  </button>
</div>