<div class="splash">
  <ul class="polaroids">
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
    <li
      class="polaroid"
    >
      A picture of <span data-ui="city">Barcelona</span>
    </li>
  </ul>
  <div class="copy">
    <h1>
      Can I move to
      <button
        class="choose-city"
        data-behaviour="go-to-choose-city"
        type="button"
      >
        <span data-ui="city">Barcelona</span>
      </button>
      <span class="light">?</span>
    </h1>
    <button
      class="take-action btn"
      data-behaviour="go-to-information"
      type="button"
    >
      Find out >
    </button>
    <div class="twitter-btn btn">
      <a
        data-dnt="true"
        href="https://twitter.com/intent/tweet?text={{tweet-content}}"
      >
        @canimoveto
      </a>
    </div>
  </div>
</div>
