<div class="thanks">
  <div class="copy">
    <h1>Thank you for joining us.</h1>
    <p>Brexit can be stopped. It affects all of us and we are all already family, friends and communities.</p>
    <a
      class="btn i-want-to-tweet"
      data-dnt="true"
      target="_blank"
      href="https://twitter.com/intent/tweet?text={{tweet-content}}"
    >
      Share on Twitter
    </a>
    <a
      class="btn i-want-to-share"
      data-dnt="true"
      target="_blank"
      href="https://www.facebook.com/sharer?u=http%3A%2F%2Fcanimovetobarcerlona.com"
    >
      Share on Facebook
    </a>
  </div>
</div>
