.cities {
  display: none;
  height: 100vh;
  position: absolute;
  top: 0;
  width: 100vw;
  z-index: 100;

  .wrapper {
    background: #fff;
    padding: 20px 10px;
  }

  .footnote {
    padding-bottom: 20px;
  }

  .list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .list-item {
    display: inline-block;
  }

  .pill-divider {
    margin: 0 auto 20px;
    position: relative;
    width: 20px;

    &:before,
    &:after {
      border-bottom: 1px solid #000;
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      width: 8px;
    }

    &:before {
      left: -12px;
    }

    &:after {
      right: -10px;
    }
  }

  .pill {
    background: transparent;
    border: 2px solid #3A53FF;
    border-radius: 30px;
    display: inline-block;
    color: #000;
    font-family: inherit;
    font-size: 20px;
    font-weight: 300;
    height: 45px;
    line-height: 41px;
    margin: 0 10px 10px 0;
    padding: 0 30px;

    &.selected {
      background: #3A53FF;
      color: #fff;
      font-weight: 400;
      margin: 0 0 20px;
    }
  }
}
