/**
 * Variables
 */
$font-family: Lato, sans-serif;
$splash-heading: 38px;
$large-heading: 32px;
$button-font-size: 20px;

$link-colour: #0042c5;
$link-colour-hover: darken($link-colour, 10%);
$button-colour: #ff0164;
$button-colour-hover: darken($button-colour, 10%);

$default-transition: all 0.2s ease-in;

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  font-family: $font-family;
  text-align: center;
}

h1 {
  font-size: $large-heading;
  font-weight: 700;
  margin: 0;
  text-shadow: 0 0 8px #fff;

  .light {
    font-weight: 300;
  }
}

h2, h3 {
  font-weight: 400;
}

p {
  font-weight: 300;
  line-height: 21px;
}

.btn {
  background: $button-colour;
  border: 0;
  border-radius: 56px;
  color: #fff;
  display: inline-block;
  font-family: Lato, sans-serif;
  font-size: $button-font-size;
  line-height: 1;
  min-width: 180px;
  padding: 10px 30px;
  cursor: pointer;
  transition: $default-transition;
  &:hover, &:focus {
    background: $button-colour-hover;
  }
}

.sr-only {
  left: -9999px;
  position: absolute;
}

footer {
  background: #f8f6f6;
  margin: 40px -20px 0;
  padding: 18px 20px;

  p {
    color: #565656;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    margin: 0;
    text-align: left;

    a {
      color: $link-colour;
      transition: $default-transition;
      &:hover, &:focus {
        color: $link-colour-hover;
      }
    }
  }
}
