.information {
  display: none;
  padding: 150px 20px 0;

  .copy {
    margin: 0 auto;
    max-width: $content-max-width;
    position: relative;
    z-index: 2;
  }

  .header-text {
    font-size: $large-heading;
    font-weight: 700;

    .very-large-text {
      display: block;
      font-size: $splash-heading;
    }
  }

  .restricted-width {
    max-width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  .i-want-to-join {
    height: 44px;
    line-height: 42px;
    text-decoration: none;
    width: 100%;
  }
}

.share {

  .btn {
    color: #fff;
    height: 44px;
    line-height: 42px;
    margin-top: 15px;
    text-decoration: none;
    width: 100%;
    padding: 0 20px;
    vertical-align: middle;

    &.i-want-to-share {
      background-color: $facebook-brand-colour;
      &:hover, &:focus {
        background-color: $facebook-brand-colour-hover;
      }
    }

    &.i-want-to-tweet {
      background-color: $twitter-brand-colour;
      &:hover, &:focus {
        background-color: $twitter-brand-colour-hover;
      }
    }

    &.i-want-to-say {
      background-color: $cta-colour;
      &:hover, &:focus {
        background-color: $cta-colour-hover;
      }
    }

    img {
      display: inline-block;
      width: auto;
      height: auto;
      margin: -4px 14px 0 0;
      vertical-align: middle;
    }
  }
}
