.polaroids {
  bottom: 0;
  height: 100vh;
  left: 0;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;

  .polaroid {
    background-color: #ccc;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: 4px solid #fff;
    box-shadow: 3px 3px 11px 3px rgba(0, 0, 0, 0.2);
    display: block;
    height: 150px;
    position: absolute;
    text-indent: -9999px;
    width: 150px;

    &:nth-child(1) {
      background-image: url('/img/cities/barcelona/1.jpg');
      left: -57px;
      transform: rotate(-19deg);
      top: -14px;
    }

    &:nth-child(2) {
      background-image: url('/img/cities/barcelona/2.jpg');
      height: 160px;
      left: calc(50% - 83px);
      transform: rotate(-12deg);
      top: -61px;
      width: 160px;
    }

    &:nth-child(3) {
      background-image: url('/img/cities/barcelona/3.jpg');
      right: 3px;
      transform: rotate(12deg);
      top: -41px;
    }

    &:nth-child(4) {
      background-image: url('/img/cities/barcelona/4.jpg');
      bottom: 37px;
      left: -50px;
      transform: rotate(-32deg);
    }

    &:nth-child(5) {
      background-image: url('/img/cities/barcelona/5.jpg');
      bottom: 17px;
      right: -33px;
      transform: rotate(-8deg);
    }

    &:nth-child(6) {
      background-image: url('/img/cities/barcelona/6.jpg');
      bottom: -40px;
      height: 160px;
      left: 103px;
      transform: rotate(-2deg);
      width: 160px;
    }

    &:nth-child(7),
    &:nth-child(8),
    &:nth-child(9),
    &:nth-child(10) {
      display: none;
    }
  }
}


@media (min-width: 768px) {
  .polaroids {
  
    .polaroid,
    .polaroid:nth-child(1),
    .polaroid:nth-child(2),
    .polaroid:nth-child(3),
    .polaroid:nth-child(4),
    .polaroid:nth-child(5),
    .polaroid:nth-child(6) {
      height: 250px;
      width: 250px;
    }

    .polaroid:nth-child(7),
    .polaroid:nth-child(8) {
      display: block;
    }

    .polaroid:nth-child(2) {
      top: -150px;
    }

    .polaroid:nth-child(7) {
      background-image: url('/img/cities/barcelona/7.jpg');
      top: calc(50% - 125px);
      left: -33px;
      transform: rotate(19deg);
    }

    .polaroid:nth-child(8) {
      background-image: url('/img/cities/barcelona/8.jpg');
      top: calc(50% - 103px);
      right: -43px;
      transform: rotate(-5deg);
    }
  }
}


@media (min-width: 1200px) {
  .polaroids {

    .polaroid:nth-child(9),
    .polaroid:nth-child(10) {
      display: block;
    }

    .polaroid:nth-child(9) {
      background-image: url('/img/cities/barcelona/9.jpg');
      top: -110px;
      left: 253px;
      transform: rotate(19deg);
    }

    .polaroid:nth-child(10) {
      background-image: url('/img/cities/barcelona/10.jpg');
      bottom: -10px;
      right: 243px;
      transform: rotate(8deg);
    }
  }
}
