.signup-form {
  display: none;
  padding: 150px 20px 0;

  fieldset {
    border: 0;
    margin: 0 auto;
    max-width: 360px;
    min-height: calc(100vh - 218px);
    position: relative;
    z-index: 2;
  }

  .form-field {
    margin: 0 0 20px;
  }

  input[type=email],
  input[type=text] {
    border: 1px solid #636363;
    border-radius: 30px;
    color: #636363;
    display: block;
    font-family: inherit;
    font-size: 16px;
    font-weight: 300;
    height: 45px;
    line-height: 41px;
    padding: 0 20px;
    width: 100%;
  }

  .checkbox {
    position: relative;

    input[type=checkbox] {
      left: -9999px;
      position: absolute;
    }

    label {
      display: block;
      font-weight: 300;
      padding-left: 35px;
      text-align: left;

      &:before {
        border: 1px solid #000;
        content: '';
        display: block;
        height: 20px;
        left: 0;
        position: absolute;
        top: 2px;
        width: 20px;
      }
    }

    :checked + label:before {
      color: green;
      content: '✔︎';
      line-height: 18px;
      text-align: center;
      width: 20px;
    }
  }
}
