.splash {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;

  h1 {
    margin: 0 0 50px;
  }

  .copy {
    margin-top: -80px;
    padding: 0 30px;
    z-index: 100;
  }

  .buttons {
    margin: 40px auto 0;
  }

  .fb-btn {
    background: url('/img/facebook.png') no-repeat 50%;
    background-size: contain;
    display: inline-block;
    font-weight: 300;
    height: 28px;
    margin-left: 15px;
    min-width: 0;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 28px;
  }

  .twitter-btn {
    background: url('/img/twitter.png') no-repeat 50%;
    background-size: contain;
    display: inline-block;
    font-weight: 300;
    height: 28px;
    margin-right: 15px;
    min-width: 0;
    padding: 0;
    position: relative;
    text-indent: -9999px;
    width: 28px;

    a {
      bottom: 0;
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
    }
  }
}

.choose-city {
  background: transparent;
  border: 0;
  border-bottom: 1px solid currentColor;
  cursor: pointer;
  font-family: inherit;
  font-size: inherit;
  font-weight: 300;
  padding: 0;
  text-shadow: 0 0 8px #fff;

  &:focus,
  &:hover {
    color: #3A53FF;
  }
}


@media (min-width: 768px) {
  .splash {

    .fb-btn,
    .twitter-btn {
      height: 50px;
      vertical-align: middle;
      width: 50px;
    }
  }
}